body{
    background-color: aliceblue;
}
#wrap {
    width: 1100px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

h2#name {
    text-align: center;
}

li {
    display: inline-block;
    margin: 10px;
    font-size: 1.5em;
}
#catList {
    text-align: center;
}
#display {
    text-align: center;
}

#catImg {
    border-radius: 10px;
    border: 2px solid crimson;
    width: 620px;
    height: 450px;
    margin: 5px;
}

#count {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: chocolate;
    color: wheat;
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

#name {
    border-radius: 10px;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 1.8em;
    padding: 5px;
    background-color: beige;
}

#admin {
    position: fixed;
    border: 1px solid black;
}
/*#adminBtn {*/
    /*width: 90px;*/
    /*height:50px;*/
    /*font-size: 1.3em;*/
    /*padding: 5px;*/
    /*background-color: chocolate;*/
    /*color: white;*/
    /*border-radius: 5px;*/
/*}*/



