body{
    background-color: aliceblue;
}
#wrap {

    width: 1100px;
    margin: 0 auto;
}

#cat1, #cat2 {
    display: inline-block;
}

#catImg1 {
    border-radius: 10px;
    border: 2px solid crimson;
    width: 500px;
    height: 300px;
    margin: 5px;
}
#catImg2 {
    border-radius: 10px;
    border: 2px solid crimson;
    width: 500px;
    height: 300px;
    margin: 5px;
}
#count1, #count2 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: chocolate;
    color: wheat;
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}